.author {
    font-size: small;
}

.title {
    font-size: large;
}

.rowBoarders {
    border: solid;
}

.alignCenter {
    text-align: center;
}

label {
    color: blueviolet;
}

.anchorFormat {
    color: white;
}